##################### [CUSTOM SETTING - Jinsoo.Kim<jjambbongjoa@gmail.com>] #####################
[mysqld]
server-id=1
log-bin=mysql-bin
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL

auto_increment_increment=2
auto_increment_offset=1

character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
skip-character-set-client-handshake

default-storage-engine = InnoDB


# error log 위치
log-error = /docker-volumes/log/mysql_error.log

# general log 설정 및 위치
general_log=1
general_log_file = /docker-volumes/log/mysql_history.log

# slow, long query 설정
slow-query-log = 1                   # log file 쌓기
long_query_time = 10                 # 해당 초 이상 소요된 쿼리에 대한 정보 logging
slow_query_log_file = /docker-volumes/log/mysql_slow.log

################################################################################################

# Custom config should go here
!includedir /etc/mysql/conf.d/

################################################################################################
##############tune###############
skip-host-cache
skip-name-resolve
back_log = 50
max_connections = 4096
max_connect_errors = 30
max_allowed_packet = 256M
table_open_cache = 20000

# RAM 4GB는 1M을 사용합니다.
binlog_cache_size = 8M
# RAM 4GB는 64M을 사용합니다.
max_heap_table_size = 512M

# USE RAM
# join_buffer_size - 1GB는 1M, 2GB는 2M, 4GB는 4M
join_buffer_size = 32M
# sort_buffer_size - 1GB는 1M, 2GB는 2M, 4GB는 4M
sort_buffer_size = 32M
# key_buffer - 1GB는 64M, 2GB는 128M, 4GB는 256M
key_buffer_size = 2048M
# read_buffer_size - 1GB는 1M, 2GB는 2M, 4GB는 4M
read_buffer_size = 32M
# 정렬 후 정렬 된 순서로 행을 읽을 때 행이 읽어집니다
# 디스크 검색을 피하기 위해이 버퍼를 통해 #. ORDER BY를 향상시킬 수 있습니다.
# 이 값을 높게 설정하면 성능이 크게 향상됩니다.
read_rnd_buffer_size = 64M
bulk_insert_buffer_size = 128M

# 내부 (메모리 내부) 임시 테이블의 최대 크기. 테이블
# 이 값보다 커지면 자동으로 디스크로 변환됩니다.
# based table이 제한은 단일 테이블에 대한 것입니다. 많은 것이있을 수있다.
# 그들의. RAM 4GB는 64M을 사용합니다.
tmp_table_size = 512M

innodb_file_per_table = 1
innodb_buffer_pool_size = 32G
innodb_log_file_size = 8G
innodb_flush_log_at_trx_commit = 1
innodb_flush_method = O_DIRECT
innodb_io_capacity = 20000


##############tune###############